.root {
  position: relative;
  width: 1384.5658px;
  height: 41px;
  align-items: flex-start;
}
.nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  background-color: #ffe0e0;
}
.hong {
  color: #000;
  font-size: 32px;
  font-family: Ingrid Darling, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.7222%;
  right: 92.6331%;
  top: 0;
  bottom: 31.7073%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.lIInBug1 {
  position: absolute;
  left: 96.4201%;
  right: 1.1965%;
  top: 14.6341%;
  bottom: 17.0732%;
  background-image:/* webpackIgnore: true */ url('/assets/lIInBug1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
