html,body{
    margin: 0;  /* 这行移除了默认边距 */
    padding: 0; /* 可以确保没有额外的内边距 */

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 93px 93px;
    position: relative;
    background-color: #fff8f8;
    /*width: 100%;*/
    /*min-width: 1696.57px;*/

    /*border: 2px solid blue;*/
}

.nav_background{
    position: fixed;

    width: 100%;
    height: 10vh;

    object-fit: cover;  /* Maintain aspect ratio and cover the entire container */
    overflow: hidden;   /* Hide the content outside the specified height */
}

.component_nav {
    /*border-bottom: 1px solid black; !* 黑色底边框 *!*/
    /*border-left: 1px solid black;   !* 黑色左边框 *!*/

    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 0;
    /*width: calc(100% - 40px); !* Subtracting 20px from both left and right *!*/
    width: 100%;
    height: 41px;
    background-color: rgba(255, 224, 224, 0.98); /* 0.7 at the end indicates 70% opacity */
    /*border-radius: 0px 0px 20px 20px;*/
    z-index: 1000;  /* this will ensure the navbar stays above other content */
    /*margin-left: 20px;*/
    margin-right: 20px;
}

.component_nav .name {
    /*position: absolute;*/
    /*width: 247px;*/
    /*height: 39px;*/
    /*top: 80px;*/
    /*left: 900px;*/
    /*border-style: solid;*/
    margin-left: 40vh;
}

.component_nav .Linkedin_logo{
    margin-right: 40vh;
}

.Linkedin_logo {
    margin-right: 20px;
    width: 33px;
    height: 28px;
}
/****************/
/*component_main*/
/****************/
.component_main{
    margin-top: 20vh;
    display: flex;
    width: 80%;
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* 当屏幕宽度小于768px时 */
@media (max-width: 1500px) {
    .component_main {
        /* 切换为竖向布局 */
        flex-direction: column;

    }

    .component_main .component_jump{
        /*width: 450px;*/
    }

    .component_main .frame {
        /*max-width: 794px;*/
        /*width: 780px;*/
        border-style: solid;
    }
}

/****************/
/*component_jump*/
/****************/

.component_jump {
    border-style: solid;


    overflow: hidden;
    display: inline-flex;
    flex-wrap: wrap;
    height: 588px;
    align-items: center;
    justify-content: center;
    gap: 10px 30px;
    position: relative;
    border-radius: 40px;
    margin: 20px;
    object-fit: fill;
}
.component_jump .rectangle {
    position: relative;
    max-width: 794px;

    height: 596px;
    margin-bottom: -8px;
    margin-left: -4px;
    margin-right: -4px;



}
.component_jump .union {
    position: absolute;
    width: 247px;
    height: 39px;
    top: 80px;
    left: 483px;
}

.frame {
    display: flex;
    flex-direction: column;
    width: 394px;
    height: 588px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    position: relative;
    background-color: #ffe5e5;
    border-radius: 60px;

    margin: 20px;
}

.footer {
    position: relative;
    width: 833px;
    height: 34px;
    margin-top: auto;
}
.footer .copyright-hong {
    position: absolute;
    width: 833px;
    height: 34px;
    top: -1px;
    left: 0;
    font-family: "Imprima-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}



